.gallery {
   height: 100%;

  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  overflow-y: auto;
  height: auto;
}

.item {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
